/backend/rez.sqlite3
/backend/db.sqlite3
/backend/заметки
/testcode/
/frontend/
/backend/parser/
/.vscode/
/.idea/
/front/src/views/CharacterView/test.vue
/front/src/services/api.js
/.
/backend/dnd/inventory/
/parser/
