html {
  background-color: rgb(23, 81, 81);
}

.header-main {
  margin-bottom: 10px;
}


.login {
  display: flex;
  border: solid bisque;
  padding: 10px;
}

.main-info {
  margin: 5px 0;
}

.lvl_up {
  display: contents;
}

.name_input {
  padding-bottom: 20px;
}

.stat {
  border: solid black;
  text-align: center;
  align-items: center;
}

.skill {
  border: solid black;
  padding: 0;
}

.name-skill {
  text-align: center;
}

.name-skill.card-title {
  text-align: center;
}

.cd {
  text-align: center;
  padding: 0;
}

.saving-card {
  padding: 5px;
  border: solid black;
  text-align: left;
}